@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>

<hr />
<h2>Contact Us</h2>

    <table>
        <tr>
            <th>
                Carlee Murphy
            </th>
        </tr>
        <tbody>
            <tr>
                <td>555.555.5555</td>
            </tr>
            <tr>
                <td>ouw12001@byui.edu</td>
            </tr>
            <tr>
                <td>525 South Centre Street    Rexburg, ID 83460</td>
            </tr>
        </tbody>
    </table>
</div>

@*<div class="panel-heading">
    <h3>Contact Us</h3>
</div>

<div class="panel-body table">
    Carlee Murphy
    555.555.5555
    ouw12001@byui.edu
    525 South Centre Street
    Rexburg, ID 83460
</div>*@

@*<table>
    <tr>
        <th>
            <h3>Contact Us</h3>
        </th>
        </tr>

    <tr>
        Carlee Murphy
    </tr>
    <tr>
        555.555.5555
    </tr>
    <tr>
        ouw12001@byui.edu
    </tr>
    <tr>
        525 South Centre Street
    </tr>
    <tr>
        Rexburg, ID 83460
    </tr>
</table>*@

@*<table>
    <tr>
        <th>
            <h3>Contact Us</h3>
        </th>
        
        <tr>
            <td>
                Carlee Murphy
            </td>
            <td>
                555.555.5555
            </td>
            <td>
                ouw12001@byui.edu
            </td>
            <td>
                525 South Centre Street
            </td>
            <td>
                Rexburg, ID 83460
            </td>
        </tr>
        </table>*@
            
        @*</th>
        <th>
            555.555.5555
        </th>
        <th>
            ouw12001@byui.edu
        </th>
        <th>
            525 South Centre Street
        </th>
        <th>
            Rexburg, ID 83460
        </th>
    </tr>*@


@*<div>
    <h2>Contact Information</h2>
    Carlee Murphy
    555.555.5555
    ouw12001@byui.edu
    525 South Centre Street
    Rexburg, ID 83460
</div>*@