@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-md-4">
            @*img-responsive*@ 
            @*img-rounded col-lg-12"*@
            <img src="~/images/Contoso.jpeg"
                 style="width: 1150px; height: 400px"/>
            <hr>
            <h2>Welcome to Contoso University</h2>
            <p>
                Contoso University welcomes all new freshman!
            </p>
        </div>
    </div>
@*<body background="~/Views/Home/Contoso.jpeg">
</body>*@